# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Large medical image files
*.dicom
*.dcm
*.png
*.jpg
*.jpeg

# Zip/archive files
*.zip
*.rar
*.7z
*.tar
*.gz

# Raw large folders
data/raw/vinbigdata/images/
data/raw/vinbigdata/zip_files/

# Original full annotation can be large or dataset-controlled
data/raw/vinbigdata/original/train.csv

# Outputs
outputs/*
!outputs/.gitkeep

# Model checkpoints
models/
checkpoints/
*.pth
*.pt
*.ckpt
*.onnx

# Logs
logs/
*.log.vs/ 
.vs/ 
